#Ignora la cartella .terraform
.terraform
#ignora file provider terraform
.terraform.*
#ignora file ausiliari latex
*.aux
*.toc
Tesi_sorgente.txt
Tesi_sorgente.out
Tesi_sorgente.synctex.gz
Tesi_sorgente.log

